<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }} 
    <input type="submit" value="login">
  </form>
</body>
</html>
